
<ion-header>
    <div class="header-pers" [ngClass]="{'ios': operatingSystem == 'ios', 'android': operatingSystem == 'android'}">
        <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="indirizzo, città, cap"></ion-searchbar>
        <strong class="annulla" (click)="goBack()">Annulla</strong>
        <span class="nearby-text">qui vicino</span>
        <div class="nearby" (click)="getCurrentPosition()"></div>
    </div>
</ion-header>
<ion-content  no-padding no-bounce>
  <ion-grid id="gridSearch" fixed>
    <ion-row align-items-start>
        <ion-list [hidden]="autocompleteItems.length == 0">
          <ion-item *ngFor="let item of autocompleteItems[0]" tappable (click)="selectSearchResult(item)">
            {{ item.description }}
          </ion-item> 
        </ion-list>
    </ion-row>
    <ion-row align-items-start>
      <ion-col>
          <ion-list class="center-result" [hidden]="centers.length == 0">
            <ion-item *ngFor="let item of centers" tappable (click)="goToScheda(item)">
              <div class="info">
                  <strong>{{ item.structure | truncate:30 }}</strong>
                  <p>{{ item.address }}</p>
              </div> 
              <div class="distance">
                  <div class="icon-loc"></div>
                  <strong>{{ item.distance  }} km</strong>
              </div> 
            </ion-item> 
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab class="gotomaps" bottom right edge (click)="goToMaps()">
    <button ion-fab><ion-icon name="md-map"></ion-icon></button>
  </ion-fab>
</ion-content>