page-searchresult {
    .scroll-content {
        padding-bottom: 0 !important;
     }
    .item-inner {
        border-color: transparent!important;
    }
    .ios {
        ion-searchbar {
            background: transparent!important;
            top: 150px;
            
            
        }
        .annulla {
            position: absolute;
            bottom: 80px;
            right: 25px;
            color: white;
        }
    }

    .android {
        ion-searchbar {
            background: transparent!important;
            top: 120px;   
             
        }
        .annulla {
            position: absolute;
            bottom: 10px;
            right: 25px;
            color: white;
        }    
    }
    

    .searchbar-input {
        border: 1px solid #703eb4;
        background-color: #AA97C3!important;
        color: #fff!important;
    }

    .searchbar-search-icon {
        display: none;
    }

    .ios {
        
        .searchbar-input {
            padding: 20px 15px!important;
        }
    }

    .searchbar-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #f0f0f0!important;
    }

    .header-pers {
        ion-searchbar {
            width: 80%;
        }

        padding: 0 20px;
        position: static;
        width: 100%;
        height: 260px;
        margin-top: -100px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ec662d+0,9076b3+50,703eb4+100 */
        background: #ec662d; /* Old browsers */
        background: -moz-linear-gradient(45deg, #ec662d 0%, #9076b3 50%, #703eb4 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #ec662d 0%,#9076b3 50%,#703eb4 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #ec662d 0%,#9076b3 50%,#703eb4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec662d', endColorstr='#703eb4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        border-radius: 180px / 80px;
        z-index: 1;

        .nearby-text {
            font-size: 16px;
            color: #fff;
            position: absolute;
            bottom: 35px;
            left: 50%;
            transform: translate(-50%);
        }

        .nearby {
            width: 60px;
            height: 60px;
            background: url("../../assets/imgs/nearby.png") no-repeat;
            background-size: contain;
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translate(-50%);
        }
    }

    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        background-image: none!important;
    }

    #gridSearch {
        margin-top: 30px;
    }

    .center-result {
        ion-item:hover, ion-item:active, ion-item:focus {
            strong, p {

                color: #F18458;
            }
        }
    }
    .center-result {
        ion-item {
            padding-right: 16px!important;
            .item-inner {
                padding-right: 0!important;
                .input-wrapper {
                    position: relative;
                }
            }
        }
        strong {
            color: #8B6DB3;
            font-size: 18px;
            line-height: 24px;
        }
        
        p {
            color: #8B6DB3;
            font-size: 15px;
            line-height: 24px;
        }
        .distance {
            position: absolute;
            top: 16px;
            right: 0;
            
            .icon-loc {
                width: 17px;
                height: 26px;
                background: url("../../assets/imgs/loc.png") no-repeat;
                background-size: contain;
                margin: 0 auto;
            }
            strong {
                font-size: 10px!important;
            }
        }
    }

    .gotomaps {
        bottom: 20px!important;
        right: 30px;
        .fab {
            
            background: #F18458!important;
        }
        
    }

    .fab {
        width: 60px;
        height: 60px;
    }
}
